# 사진 파일 업로드

In [ ]:
# 필요시 설치
!pip install image

In [ ]:
# yolo5

# 코랩이 아닌 로컬에서는 yolo 실행을 위해 torch 설치 해야함
# 아나콘다 관리자 prompt에서 아래 2가지 설치 필요
# pip3 install torchvision
# conda install pytorch -c pytorch
# pip install -qr https://raw.githubusercontent.com/ultralytics/yolov5/master/requirements.txt

In [1]:
# 테스트이미지 업로드
from PIL import Image

image = Image.open("test/sea.jpg")
info = image._getexif();
image2 = Image.open("test/test2.jpg")

image.close()
image2.close()

In [3]:
# x좌표, y좌표 지역 날짜 시간값 반환
from imageinfo import imageinfo
x, y, area1, area2, area3, area4, day, time = imageinfo(info)
print(x, y, area1, area2, area3, area4, day, time)

37.62888888888889 126.37472222222222 인천 인천광역시 강화군 화도면 20200901 18:51:12

In [4]:
from weather import weather
df = weather(day, area1)
df
 # 평균상대습도, 평균지면온도, 일 강수량, 일 최심적설

  avgRhm avgTs sumRn ddMes
0   72.8  28.1   0.0

In [ ]:
# from yolo import yolo5
# yolo = yolo5(image2)
# yolo