# 기술통계 (교재 84P)

## [데이터분석]
- 기존데이터에서 패턴을 찾고 미래의 데이터를 예측하거나 분류하는 것
- 분석가능한 데이터란 : 1) 중앙에 밀집되어 있어야 함.
- 머신러닝(정형 데이터분석) - 기존의 통계학적에 기반한 ML, 인공신경망(텐서플로우) 기반의 ML
- 딥러닝(비정형데이터분석)

## Part1 [기술통계]
- 편차
- 분산
- 표준편차

In [1]:
a = [1, 1, 1, 12]
b = [3, 5, 3, 4]

# 평균
suma = 0 ; sumb = 0
for amean, bmean in zip(a,b):
    suma += amean
    sumb += bmean
print(suma/len(a))
print(sumb/len(a))

3.75
3.75

In [2]:
# 중앙값(전체데이터를 오름차순으로 만들고 그 갯수의 가운데 값, 짝수일때는 n/2 n값과 오른쪽 값의 합/2)
a = [1, 1, 1, 12]
b = [3, 3, 4, 5]

def median(var):

    if len(var) % 2 == 0:
        center = int(len(var)/2)
        print((var[center-1]+var[center])/2)
    else:
        center = round(len(a)/2, 0)
        print(var[center])

median(b)

3.5

In [17]:
a = [1, 1, 1, 12]

print(np.mean(a), np.std(a)) # 모집단을 전체데이터로 나눔
print(tmp.std(ddof=0))      # ddof=0 로 하면 모집단으로 계산함
print(tmp.std(ddof=1))      # ddof=1 로 하면 표본집단으로 계산함
tmp = pd.DataFrame(a)
tmp.describe()               # 모집단을 표본집단(n-1개)로 나눔

3.75 4.763139720814412
0    4.76314
dtype: float64
0    5.5
dtype: float64

           0
count   4.00
mean    3.75
std     5.50
min     1.00
25%     1.00
50%     1.00
75%     3.75
max    12.00

In [18]:
print(np.mean(a), np.std(a, ddof=1), np.std(a, ddof=0))

3.75 5.5 4.763139720814412

In [19]:
print(np.mean(b), np.std(b, ddof=1), np.std(b, ddof=0))

3.75 0.9574271077563381 0.82915619758885

In [3]:
# 최빈값(전체데이터에서 가장 빈도수가 많은 값)
a = [1, 1, 1, 12]
b = [3, 3, 4, 5]

def mc(var):
    tmp = []
    for x in len(var):
        tmp.appned(None)
    for i in var:
        z = var.count(i)
        tmp[i] = z
    x = tmp.max()
    var.index(x) = mc
    return var[mc]

mc(a)

SyntaxError: cannot assign to function call (<ipython-input-3-b152e6d73869>, line 13)

In [ ]:
# 표준편차 (평균값 - 중앙값)

In [4]:
import numpy as np

print(np.std(a), np.var(a))

print(np.std(b), np.var(b))

4.763139720814412 22.6875
0.82915619758885 0.6875

In [9]:
# 96p 표준편차

import pandas as pd
df = pd.read_csv('data/part3/auto-mpg.csv', header=None)
df.describe()       # 표본집단으로 계산됨

,0,1,2,4,5,6,7
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

# 상관계수
## 데이터 분석시 예측과 회귀에 사용되는 결과값(y or 레이블)과 연관성 있는 특징값(x값)을 미리 선별해야 함
## 이때 사용 되는 것이 상관도
## 컴퓨터는 정수보다 소수점으로 작은단위를 계산할때 계산이 더 빠름, 단위는 추후 보기위해 변환작업하면 됨
- 상관도는 숫자값을 Scailing(값의 단위를 줄이는 것)해도 됨

In [23]:
df

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [20]:
df.corr()

          0         1         2         4         5         6         7
0  1.000000 -0.775396 -0.804203 -0.831741  0.420289  0.579267  0.563450
1 -0.775396  1.000000  0.950721  0.896017 -0.505419 -0.348746 -0.562543
2 -0.804203  0.950721  1.000000  0.932824 -0.543684 -0.370164 -0.609409
4 -0.831741  0.896017  0.932824  1.000000 -0.417457 -0.306564 -0.581024
5  0.420289 -0.505419 -0.543684 -0.417457  1.000000  0.288137  0.205873
6  0.579267 -0.348746 -0.370164 -0.306564  0.288137  1.000000  0.180662
7  0.563450 -0.562543 -0.609409 -0.581024  0.205873  0.180662  1.000000

In [25]:
df[[7, 5]].corr()

          7         5
7  1.000000  0.205873
5  0.205873  1.000000

In [26]:
df[7_1] = df[7]/100
df[5_1] = df[5]/100

print(df[[7_1, 5_1]].corr())

          71        51
71  1.000000  0.205873
51  0.205873  1.000000