# kaggle 대용량 데이터 가져오기
## kaggle의 account - create new api token - kaggle.joson 파일 다운 (user이름과 key 값이 있음)

In [7]:
cd /content/drive/MyDrive/캐글

[Errno 2] No such file or directory: '/content/drive/MyDrive/캐글'
/content

In [8]:
import os
# os.environ을 이용하여 Kaggle API Username, Key 세팅하기
# kaggle.json 파일 열어서 user명과 key값 확인
os.environ['KAGGLE_USERNAME'] = 'dongkyuseo'
os.environ['KAGGLE_KEY'] = '32c3fe9aef741e20915ccb62eb1b85b4'

In [9]:
!kaggle -h

usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...

optional arguments:
  -h, --help            show this help message and exit
  -v, --version         show program's version number and exit

commands:
  {competitions,c,datasets,d,kernels,k,config}
                        Use one of:
                        competitions {list, files, download, submit, submissions, leaderboard}
                        datasets {list, files, download, create, version, init, metadata, status}
                        config {view, set, unset}
    competitions        Commands related to Kaggle competitions
    datasets            Commands related to Kaggle datasets
    kernels             Commands related to Kaggle kernels
    config              Configuration settings

In [10]:
!kaggle datasets download uciml/red-wine-quality-cortez-et-al-2009

red-wine-quality-cortez-et-al-2009.zip: Skipping, found more recently modified local copy (use --force to force download)

In [11]:
import os
 
def createFolder(directory):
    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print ('Error: Creating directory. ' +  directory)
 
createFolder('./zip')

In [12]:
import zipfile
fantasy_zip = zipfile.ZipFile('red-wine-quality-cortez-et-al-2009.zip')
fileName=fantasy_zip.namelist()[0]
fantasy_zip.extract(fileName,'./zip')

#fantasy_zip.close()

'zip/winequality-red.csv'

In [13]:
import pandas as pd

# 아래처럼 하면 많은 양의 csv 자동화가능 for문
from glob import glob
df = pd.read_csv(glob('./zip/*.csv')[0])
df


# 단건 자료를 가져올땐 아래처럼 할 수도 있음
# pd.read_csv('./zip/winequality-red.csv')

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]