In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
import urllib.request
import json

In [2]:
# key 암호화
filename= 'data/weather.txt'

with open(filename) as f:
  api_key = f.read()
len(api_key)

88

In [3]:
ac = pd.read_csv('data/지역코드.csv')
ac

     지점  지점명     관리관서
0    90   속초  강원지방기상청
1    93  북춘천    춘천기상대
2    95   철원  강원지방기상청
3    98  동두천   수도권기상청
4    99   파주   수도권기상청
..  ...  ...      ...
90  285   합천    울산기상대
91  288   밀양    울산기상대
92  289   산청    창원기상대
93  294   거제  부산지방기상청
94  295   남해  부산지방기상청

[95 rows x 3 columns]

In [31]:
for i in range(len(ac['지점명'])):
    sa = Series(ac['지점명'][i])
    if sa.str.contains('속초')[0] == True:
         print(ac['지점'][i])

90

In [36]:
si = '속초시'
for i in range(len(ac['지점명'])):
    sa = Series(si)
    if sa.str.contains(ac['지점명'][i])[0] == True:
         print(ac['지점'][i])

90

In [38]:
import requests
import json
from pandas import Series
ac = pd.read_csv('data/지역코드.csv')

# 날짜 지정
startDt = '20211101' 
si = '속초시'
# 지역 코드 선택
ac = pd.read_csv('data/지역코드.csv')

for i in range(len(ac['지점명'])):
    sa = Series(si)
    if sa.str.contains(ac['지점명'][i])[0] == True:
         area = ac['지점'][i]

stnIds = area
url = 'http://apis.data.go.kr/1360000/AsosDalyInfoService/getWthrDataList'
params ={'serviceKey' : api_key, 'pageNo' : '1', 'numOfRows' : '10', 'dataType' : 'json', 'dataCd' : 'ASOS', 'dateCd' : 'DAY', 'startDt' : startDt, 'endDt' : startDt, 'stnIds' : stnIds }

response = requests.get(url, params=params).json()
print(response)

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL_SERVICE'}, 'body': {'dataType': 'JSON', 'items': {'item': [{'stnId': '90', 'stnNm': '속초', 'tm': '2021-11-01', 'avgTa': '14.5', 'minTa': '11.8', 'minTaHrmt': '2101', 'maxTa': '19.0', 'maxTaHrmt': '1320', 'mi10MaxRn': '0.0', 'mi10MaxRnHrmt': '', 'hr1MaxRn': '0.0', 'hr1MaxRnHrmt': '', 'sumRnDur': '', 'sumRn': '0.0', 'maxInsWs': '10.1', 'maxInsWsWd': '270', 'maxInsWsHrmt': '920', 'maxWs': '5.8', 'maxWsWd': '290', 'maxWsHrmt': '921', 'avgWs': '2.4', 'hr24SumRws': '2099', 'maxWd': '290', 'avgTd': '6.9', 'minRhm': '37', 'minRhmHrmt': '1321', 'avgRhm': '61.4', 'avgPv': '10.0', 'avgPa': '1019.8', 'maxPs': '1023.0', 'maxPsHrmt': '2118', 'minPs': '1020.5', 'minPsHrmt': '1401', 'avgPs': '1021.9', 'ssDur': '', 'sumSsHr': '7.1', 'hr1MaxIcsrHrmt': '', 'hr1MaxIcsr': '', 'sumGsr': '', 'ddMefs': '', 'ddMefsHrmt': '', 'ddMes': '', 'ddMesHrmt': '', 'sumDpthFhsc': '', 'avgTca': '4.1', 'avgLmac': '0.8', 'avgTs': '13.4', 'minTg': '8.4', 'avgCm5Te': '', 'avgCm10Te': '', 'avgCm20Te': '', 'avgCm30Te': '', 'avgM05Te': '', 'avgM10Te': '', 'avgM15Te': '', 'avgM30Te': '', 'avgM50Te': '', 'sumLrgEv': '', 'sumSmlEv': '', 'n99Rn': '', 'iscs': '', 'sumFogDur': ''}]}, 'pageNo': 1, 'numOfRows': 10, 'totalCount': 1}}}

In [75]:
df = pd.DataFrame(response['response']['body']['items']['item'])
   # 평균상대습도, 평균지면온도, 일 강수량, 일 최심적설
df[['avgRhm', 'avgTs', 'sumRn', 'ddMes']]

  avgRhm avgTs sumRn ddMes
0   61.4  13.4   0.0