In [1]:
import json
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import csv
import xml.etree.ElementTree as elemTree
from bs4 import BeautifulSoup as bf

# json 문어 읽기

In [2]:
path = 'data/말뭉치/문어'
file_list = os.listdir(path)
len(file_list)

20188

In [3]:
words = []
for z in tqdm(range(len(file_list))):
    with open(path +'/'+ file_list[z], encoding='utf-8') as f:
        json_obejct = json.load(f)
    x = []
    for i in range(len(json_obejct['document'][0]['paragraph'])):
        x.extend(json_obejct['document'][0]['paragraph'][i]['form'])
    words.append(x)
len(words)

 11%|█         | 2160/20188 [04:23<24:23, 12.32it/s]

In [ ]:
words = pd.DataFrame(words)
words.to_csv('data/말뭉치/문어.csv', index=False)

# tsv 문법성 읽기

In [66]:
words = []
path = 'data/말뭉치/문법성'

file_list = os.listdir(path)
for z in tqdm(range(len(file_list))):
    with open(path +'/'+file_list[z], encoding='utf-8') as f:
        tr = csv.reader(f, delimiter='\t')
        for row in tr:
            words.append(row)

100%|██████████| 3/3 [00:00<00:00, 18.00it/s]

In [67]:
df = pd.DataFrame(words, columns=words[0])
df = df.drop(index=0)
df['sentence'].to_csv('data/말뭉치/문법성.csv', index=False)

# sjml 비출판물 읽기

In [58]:
words = []
path = 'data/말뭉치/비출판물'

file_list = os.listdir(path)
len(file_list)

10753

In [59]:
sjml = []
for file in tqdm(file_list):
        with open(path +'/'+file, 'r', encoding='utf-8') as f:
            _file = bf(f, features="html.parser")
            text = _file.find_all("p")
            for i in range(len(text)):
                sjml.append(text[i].text)
len(sjml)

100%|██████████| 10753/10753 [00:58<00:00, 182.65it/s]

76805

In [65]:
df = pd.DataFrame(sjml)
df.to_csv('data/말뭉치/비출판물.csv', index=False)
df

                                                       0
0      어제는 아내의 생일이었다. 생일을 맞이하여 아침을 준비하겠다고 오전 8시 30분부터...
1      주된 메뉴는 스테이크와 낙지볶음, 미역국, 잡채, 소야 등이었다. 스테이크는 자주하...
2      그런데 상상도 못한 일이 벌이지고 말았다. 보통 시즈닝이 되지 않은 원육을 사서 스...
3      앞면을 센불에 1분을 굽고 뒤집는 순간 방부제가 함께 구어진 것을 알았다. 아내의 ...
4      어처구니 없는 상황이 발생한 것이다. 방부제가 센불에 녹아서 그런지 물처럼 흘러내렸...
...                                                  ...
76800  잠시 후에 고모,고모할머니,삼촌들이 모두 오셨다 할아버지는 일을 하시느라 늦게 오 ...
76801             나는 오 늘 오랜 만에 친척 들을 만나니 즐 거운 하루 인 겄갔았다.
76802  오늘 &name1&누나랑 &name2&이형, &name3&, &name4&이랑 키즈...
76803      콩과 자라와 쇠똥과 소꼿이랑 멧돌이랑 멍석과 친구들이 할머니를 도와조서 자랑스럽다
76804   주인공이아내랑 집에가고 있었는데 괴물이 아내를 데려갔는데 주인공이 되차자서 자랑스럽다.

[76805 rows x 1 columns]

# json 유사문장

In [68]:
path = 'data/말뭉치/유사문장'
file_list = os.listdir(path)
len(file_list)

1

In [82]:
words = []

for z in tqdm(range(len(file_list))):
    with open(path +'/'+ file_list[z], encoding='utf-8') as f:
        json_obejct = json.load(f)
        for i in range(len(json_obejct['data'][0]['paraphrases'])):
            words.append(json_obejct['data'][0]['paraphrases'][i]['form'])
len(words)

100%|██████████| 1/1 [00:00<00:00,  2.40it/s]

10

In [84]:
words = pd.DataFrame(words)
words

                                                   0
0  경기 성남시 판교신도시에서 이달 분양하는 중대형 아파트의 3.3m²당 분양가가 15...
1  경기 성남시 판교신도시에서 이번 달 분양하는 중대형 아파트의 3.3m²당 분양가가 ...
2  경기도 성남시 판교신도시에 따르면 이달 분양하는 중대형 아파트의 3.3m²당 분양가...
3  경기도 성남시 판교신도시에서 이달 분양하는 중대형 아파트는 3.3m²당 분양가가 2...
4  경기도 성남시 판교신도시에서 이달 분양하는 중대형 아파트는 3.3m²당 분양가가 2...
5  경기도 성남시 판교신도시에서 이달 분양하는 중대형 아파트의 3.3m²당 분양가가 2...
6  이달 분양하는 경기도 성남시 판교신도시의 중대형 아파트 3.3m²당 분양가가 200...
7  이번 달에 경기 성남시 판교신도시에서 분양하는 중대형 아파트의 3.3m²당 분양가가...
8  이번 달에 경기 성남시 판교신도시에서 분양하는 중대형 아파트의 3.3m²당 분양가가...
9  이번 달에 스포츠 성남시 판교신도시에서 분양하는 중대형 아파트먼트의 3.3m²당 분...

In [85]:
words.to_csv('data/말뭉치/유사문장.csv', index=False)